@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: auto;
}
:root{
    --bg-color:#323946;
    --second-bg-color:rgb(50, 57, 70);
    --text-color:#fff;
    --main-color:#0ef;

}
/* Light mode styles */
body {
  background-color: #f5f5f5; /* Default background color for light mode */
  transition: background-color 0.5s ease; /* Smooth transition for background color */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #020a1d; /* Background color for dark mode */
}

body {
  font-family: "Poppins", sans-serif;
  background:var(--bg-color);
  color: var(--text-color);
}
html {
    scroll-behavior: smooth;
  }
  
  p {
    color: rgb(85, 85, 85);
  }
  a,
.btn {
  transition: all 300ms ease;
}
nav,
.nav-links {
  display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
  }
  .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
  }
  a{
    /* font-size: 1.7rem; */
    color: var(--text-color);
     /* margin-left: 4rem; 
     transition: .3s;  */
    text-decoration: none;
  text-decoration-color: white;
  animation: slidetop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  display: inline-block;
  }
  @keyframes slidetop{
    0%{
      transform: translateY(100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
    color: var(--main-color);
  }
  .logo{
    font-size: 2rem;
    color:var(--main-color);
    font-family:Lucida;
    /* font-weight: 600; */
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
 #hamburger-nav {
    display: none;
  }  
  
  .hamburger-menu {
    position: relative;
    display: inline-block; 
  }
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color:var(--bg-color) ;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  .homes{
    background: transparent;
    transition: 3s;
  }
.homes:hover{
  background: var(--bg-color);
  opacity: .8;
 }
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.section__pics-container {
  display: flex;
  height: 400px;
  width: 400px;
   animation:floatimage 4s ease-in-out infinite;
  animation-delay: 3s; 
}
.section__pic-container {
  
  display: flex;
  height: 400px;
  width: 400px;
  /* opacity: 0; */
 
   /* border: 2px solid aqua; 
   border-radius: 50%; 
   box-shadow: 0 0 1rem var(--main-color);   
  margin: auto 0; */
}
@keyframes zoomin{
  0%{
    transform:scale(0);
    opacity: 0;
  }
  
  100%{
    transform: scale(1);
    opacity: 1;
  }
} 
@keyframes floatimage{
  0%{
    transform:translateY(0);
  }
  50%{
    transform: translateY(-24px);
  }
  100%{
    transform: translateY(0);
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  /* animation: slidebottom 1s ease forwards;
  animation-delay: .7s; */
}
@keyframes slidebottom{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;

}


#socials-container a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 3rem; 
  height: 3rem;
  margin: 1rem 1.5rem 3rem 0;
  gap: 1rem;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  
  animation: slideleft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

}
#socials-container a:hover{
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.btn-color-2 {
  color: aqua;
  background: none;
}
.btn-color-1{
  color: aqua;
  /* background: none; */
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
 
    border: 2px solid aqua; 
  border-radius: 30px; 
  box-shadow: 0 0 1rem var(--main-color);
  
  
}

.arrow {
  position: absolute;
  right: -7rem;
  bottom: .2rem;
}
.arrowed {
  position: absolute;
  right: -7rem;
  bottom: 5rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--second-bg-color);
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  /* border-color: rgb(163, 163, 163); */
  /* box-shadow: 0 0 1rem var(--main-color); */
  text-align: center;
}
.details-container:hover{
   border-color: rgb(163, 163, 163); 
   box-shadow: 0 0 1rem var(--main-color); 
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}


.skills-section {
  background-color:var(--second-bg-color);
  padding: 50px 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.transition{
  width: 50%;
}

.skill-category {
  text-align:left;
  color: white;
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  position: relative;
}

.skill-category:hover {
  transform: scale(1.05);
}

.skill-category h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  transition: font-size 0.3s ease;
}

.skill-category:hover h3 {
  font-size: 1.8em;
}

.skill-category ul {
  list-style: none;
  padding: 0;
}

.skill-category li {
  margin: 10px 0;
  font-size: 1.2em;
  position: relative;
}


/* Custom arrow for list items */
.skill-category li:before {
  content: '\2192'; /* Unicode arrow character */
  color: orange;
  font-size: 1.2em;
  margin-right: 5px;
  position: absolute;
  left: 50px; /* Adjust the position of the arrow */
  top: 50%; /* Align the arrow vertically */
  transform: translateY(-50%); /* Adjust the position as needed */
}

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(185, 185, 162);
  background: rgb(250, 250, 250);
  position: relative;
  overflow: hidden;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.project-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(89, 125, 133, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adjust transition for opacity and transform */
  transform: translateY(-100%); /* Start with the slider off-screen */
}

.details-container:hover .project-slider {
  opacity: 1;
  transform: translateY(0); /* Move the slider onto the screen */
}

.btn-container .project-btn {
  position: relative;
  z-index: 2; /* Ensure the link is above the slider */
  pointer-events: auto; /* Allow pointer events on the link */
}
.project-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.color-container:hover .project-data {
  opacity: 1;
}

.project-title {
  margin: 1rem;
  color: white; /* Change text color to white */
}

.btn-container {
  margin: 10px;
}

.project-btn {
  color: black; /* Change button text color */
  border-color: rgb(163, 163, 163);
}

.btn-container .project-btn {
  display: block;
  margin-bottom: 10px; /* Adjust button margin */
}

.btn-container .project-btn:last-child {
  margin-bottom: 0; /* Remove margin from last button */
}


footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
/* Contact Section */
#contact {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 4rem 0;
  text-align: center;
  animation:zoomin 1s ease forwards;
  animation-delay: 3s; 
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  
  background-color: #ccc;
}

.contact-info {
  flex: 1;
 
}

.contact-info h2 {
  margin-bottom: 1rem;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.contact-info ul li {
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 160px;
  
}

.contact-info ul li i {
  margin-right: 20px;
}
footer {
  background-color: #2d323e;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  margin-top: 500px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.thank-you-message {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 1rem;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.social-links a {
  color: #fff;
  margin-left: 1rem;
}

.social-links a:hover {
  color: #ffa500;
}

/* Style for skills section */
.skills-container {
  margin-top: 50px;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
}

.skill-bar {
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.skill-bar-fill {
  height: 100%;
  border-radius: 5px;
  background-color: #4caf50; /* Change this color to match your design */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .skills-container {
    margin-top: 30px;
  }

  .skill {
    margin-bottom: 15px;
  }
}
.skills__container {
  display: grid;
 
  grid-template-columns: repeat(2, 1fr); /* Ensure two columns */
  gap: 30px; /* Add gap between items */
}

.skills__content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 80%;
  height: 200px;
  background-color: #2d323e;
}

.skills__subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: orange;
}

.skills__description {
  font-size: 1rem;
  color:white;
}

.forte__icon {
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 20px;
}

/* Center align "My Skills" text */
.skills__container h2 {
  text-align: center;
}

/* Add borders with different colors */
.skills__content:nth-child(odd) {
  border: 2px solid #ff6347; /* Red */
}

.skills__content:nth-child(even) {
  border: 2px solid #00bfff; /* Blue */
}
.skills__content:hover {
  background-color: #909fa5; /* Change the background color on hover */
}

@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr); /* Switch to one column on smaller screens */
  }
}
/* Add your existing CSS styles here */

/* Dark mode toggle styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.ss-go-top{
margin-left: 1200px;
border: .2rem solid var(--main-color);
border-radius: 50%; 
transition: all 300ms ease;

}
/* Add this CSS to style the progress bars */


.skillss_section {
  padding: 50px 0;
  background-color:var(--second-bg-color);
}

.skillss__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  transition: none;
}


.skillss__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.skillss__data {
  margin-bottom: 10px;
}

.custom-skill-name {
  font-weight: bold;
}

.skillss__number {
  font-weight: bold;
}

.custom-skill-bar {
  height: 6px;
  background-color: #89d2e4;
  display: block;
  border-radius: 20px; 
}



#artwork {
  padding: 100px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.artwork-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork-item {
  margin: 20px;
}

.artwork-item img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.artwork-description {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}

.artwork-background {
  background-color: var(--bg-color);
  padding: 20px;
  margin-top: 50px;
}

.background-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}
.text-content {
  font-size: 20px;
  line-height: 1.5;
  white-space: pre-wrap;
}
/* Background image styles */
/* Styles for the animated background */
/* Styles for the animated section */
#animated-section {
  position: relative; /* Make it relative to its container */
  overflow: hidden; /* Hide any overflow */
  height: 100vh; /* Adjust the height as needed */
}

.animated-background {
  position: absolute; /* Position the background absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('drop.jpg'); /* Replace 'your-background-image.jpg' with your image path */
  background-size: auto;
  z-index: -1;
  animation: background-animation 30s infinite;
}
.water-drop {
  position: absolute;
  width: 50px; /* Adjust size of water drop */
  height: 50px;
  background-image: url('sdrop.webp'); /* Water drop image */
  background-size: contain;
  animation: drop-animation 10s linear infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes drop-animation {
  0% {
    transform: translateY(100vh); /* Start from bottom of the viewport */
  }
  100% {
    transform: translateY(-100%); /* Move to top of the viewport */
  }
}
/* Styles for the center content */
.center-content {
  position: absolute; /* Position the content absolutely */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

/* Styles for the animated text */
.animated-text {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px rgb(0, 123, 255);
  font-family: fantasy; /* Use a fantasy font for a fantasy-like effect */
  animation: text-animation 2s infinite;
}
.water-drop.drop-1 {
  left: 10%; /* Adjust left position of the first water drop */
  animation-delay: 1s; /* Delay animation for a smooth effect */
}

.water-drop.drop-2 {
 bottom: 30%; /* Adjust left position of the second water drop */
  animation-delay: 2s; /* Delay animation */
}

.water-drop.drop-3 {
  left: 30%; /* Adjust left position of the third water drop */
  animation-delay: 1s; /* Delay animation */
}

.water-drop.drop-4 {
  right: 40%; /* Adjust left position of the fourth water drop */
  animation-delay: 1; /* Delay animation */
}

.water-drop.drop-5 {
   left: 60%;
  bottom: 50%;  
  animation-delay: 1; /* Delay animation */
}
.water-drop.drop-6 {
  left: 70%;
  bottom: 60%;
  animation-delay: 1s; /* Delay animation */
}
.water-drop.drop-7 {
  left: 80%; 
  bottom: 10%;
  animation-delay: 1s; /* Delay animation */
}
.water-drop.drop-8 {
  left: 90%; 
  top: 70%;
  animation-delay: 1s; /* Delay animation */
}
.water-drop.drop-9 {
  left: 100%; 
  animation-delay: 1s; /* Delay animation */
}
.water-drop.drop-10 {
  left: 50%; /* Adjust left position of the fifth water drop */
  animation-delay: 8s; /* Delay animation */
}
@keyframes text-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.skills-column {
  flex: 1;
  padding: 0 20px;
}

.custom-skill {
  margin-bottom: 10px;
}

.custom-skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-skill-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 20px;
  overflow: hidden;
}

.custom-skill-level {
  height: 100%;
  background-color: var(--main-color); /* Change color as needed */
  transition: width 1s ease; /* Adjust animation duration as needed */
}



.slide-pic {
  margin-bottom: 100px;
  margin-top: 70px;
  position: relative;
  margin-left: -30px;
  width: 100%;
  height: 450px; /* Adjust height as needed */
}

.slide-pic .slideshow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  box-shadow: 0px 5px 8px rgba(19, 181, 225, 0.3);
  animation: animate-slideshow 20s infinite;
  background-size: contain; /* Ensure the background image covers the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
} 

@keyframes animate-slideshow {
  0% {
    background-image: url(office.png);
  }
  20% {
    background-image: url(student.png);
  }
  40% {
    background-image: url(KUET\ logo.png);
  }
  60% {
    background-image: url(about.png);
  }
  80% {
    background-image: url(ss.png);
  }
  100% {
    background-image: url(student.png);
  }
}

.section-title {
  margin-top: 50px;
  text-align: center;
  /* font-size: 24px; */
  color: #1465a3; /* Adjust the color as needed */
   /* Adjust the margin as needed */
}
.skills__data{
  display: inline-block;
}